.navbar{
  height:$navbar-height;
  width:100%;
  background-color: $yellow-light;
  position: fixed;
  box-shadow: 0 0 15px 0 black;
  .left-button{
    width:$navbar-height;
    height: $navbar-height;
    position: absolute;
    @include iconify(url(../../assets/global_assets/back_btn.png));
    background-size: 30px;
  }
  .center-area{
    font-family: AmaticSC;
    height: $navbar-height;
    width: calc(100% - 80px);
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: $navbar-height;
    font-size: 32px;
    text-align: center;
    line-height: $navbar-height;
  }
  .right-button{
    width:$navbar-height;
    height: $navbar-height;
    position: absolute;
    right: 0;
    @include iconify(url(../../assets/global_assets/icn-global-src.png));
    background-size: 30px;
  }
}