.new-item-module {
  .search-bar-container {
    @include backgroundify(url(../assets/new_item_tried_screen/img-city.png));
    width: 100%;
    height: 120px;
    .search-bar {
      text-align: center;
      top: 45%;
      transform: translateY(-50%);
      position: relative;

      .fa-search {
        position: absolute;
        line-height: 40px;
        margin-left: 15px;
        color: $grey-medium;
      }
      input {
        width: 70%;
        border: none;
        line-height: 40px;
        padding-left: 45px;
        padding-right: 20px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
  }
  .mid-section{
    &.ng-hide-add{
      @include animation(slideOutLeft 0.2s linear);
    }
    &.ng-hide-remove{
      @include animation(slideInRight 0.2s linear);
    }
    height: calc(100% - 80px);
    width: 100%;
    box-shadow: 0 0 10px 0 $grey-dark;
    background-color: white;
    color: $grey-dark;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    h2{
      font-weight: normal;
      padding: 5px 3%;
      z-index: 1;
      line-height: 20px;
    }
    .food-container{
      padding: 0 10px;
      .food-listing{
        width: calc((100% - 70px) / 3);
        display: inline-block;
        vertical-align: top;
        height: calc(37vw - 5px);
        margin: 10px;
        &.like, .dislike{
          pointer-events: none;
          .picture-container{
            .picture{
              opacity: 0.5;
            }
          }
        }
        &.like, &.dislike, &.hitlist{
          .status{
            z-index: 3;
            width: 10vw;
            height: 10vw;
            position: absolute;
            bottom: -10px;
            right: -10px;
          }
        }
        &.like{
          .status{
            @include iconify(url(../assets/new_item_tried_screen/bun-yum.png));
          }
        }
        &.dislike{
          .status{
            @include iconify(url(../assets/new_item_tried_screen/bun-meh.png));
          }
        }
        &.hitlist{
          .status{
            @include iconify(url(../assets/food_detail_screens/icn-hitlist50.png));
            background-color: $yellow-medium;
            border-radius: 50%;
            background-size: 80%;
          }
        }
        &.ng-enter{
          @include animation(bounceIn 1.5s linear);
        }
        &.ng-enter-stagger,
        &.ng-leave-stagger,
        &.ng-move-stagger {
          /* notice how we're using animation instead of transition here */
          -webkit-animation-delay:0.1s;
          animation-delay:0.1s;

          /* yes we still need to do this too */
          -webkit-animation-duration:0;
          animation-duration:0;
        }
        .picture-container{
          height: calc(100% - 50px);
          border: solid 7px darken($grey-light, 1.5);
          border-radius: 50%;
          &.add-item{
            border: dashed 3px darken($grey-light, 1.5);
            &.ng-enter{
              @include animation(bounceIn 1.5s linear);
            }
            .no-picture{
              background-color: white;
              .need-photo{
                border: none;
              }
            }
          }
          .picture, .no-picture{
            position: absolute;
            height: 100%;
            width:100%;
            border-radius: 50%;
          }
          .picture{
            z-index: 1;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
          .no-picture{
            background-color: $grey-light;
            z-index: 0;
            .need-photo{
              height: calc(100% - 30px);
              border-radius: 50%;
              border: solid 5px darken($grey-light, 1.5);
              width: calc(100% - 30px);
              margin: 0 auto;
              top: 50%;
              transform: translateY(-50%);
              > div{
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                font-size: 8vw;
                p{font-family: AmaticSC;}
              }
            }
          }
        }
        .name{
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 33px;
          margin-top: 15px;
        }
      }
    }
    .list-container{
      height: calc(100% - 150px);
      overflow: auto;
      .restaurant-listing{
        margin: 0 10px;
        border-bottom: solid 1px $grey-light;
        .name, .type{
          display: inline-block;
          line-height: 300%;
          vertical-align: top;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .name{
          display: inline-block;
          line-height: 300%;
          vertical-align: top;
          width: calc(70% - 5px);
        }
        .type{
          width: 30%;
          text-align: right;
          color: $grey-light;
        }
      }
    }
    &.rating{
      background-color: $yellow-light;
      text-align: center;
      .picture-container{
        background-color: $grey-light;
        height: 40vw;
        width: 40vw;
        margin: 10px auto 0 auto;
        border-radius: 50%;
        border: solid 7px lighten($yellow-light, 20);
        .no-picture{
          height: 65%;
          width: 65%;
          margin: 0 auto;
          border-radius: 50%;
          top: 50%;
          transform: translateY(-50%);
          border: solid 7px $grey-white;
          .content{
            position:absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            .photo-icon{
              @include iconify(url(../assets/new_item_tried_screen/icn-camera.png));
              height: 8vw;
              width: 100%;
            }
            h2{
              font-family: AmaticSC;
              text-align: center;
            }
          }
        }
        .picture{
          height: 100%;
          width: 100%;
//          background-color: grey;
          position: absolute;
          top: 0;
          border-radius: 50%;
        }
      }
      .text{
        text-align: center;
        font-family: AmaticSC;
        width: 100%;
        font-size: 5vw;
        line-height: 140%;
      }
      .rate{
        .meh, .yum{
          background-color: lighten($yellow-light, 20);
          height: 35vw;
          width: 35vw;
          margin: 5% 2%;
          border-radius: 50%;
          border: solid 7px white;
          display: inline-block;
          vertical-align: top;
          .vertical-center{
            height: 70%;
            .icon{
              height: 80%;
              width: 100%;
            }
            h2{
              font-family: AmaticSC;
              font-size: 32px;
              margin-top: 5px;
            }
          }
          &:hover{
            background-color: $yellow-dark;
            border: solid 7px $orange-medium;
          }
        }
        .meh{
            .icon{
              @include iconify(url(../assets/new_item_tried_screen/bun-meh.png));
            }
        }
        .yum{
            .icon{
              @include iconify(url(../assets/new_item_tried_screen/bun-yum.png));
            }
        }
      }
    }
  }
  .no-location {
    height: calc(100% - (#{$navbar-height} + 180px));
    box-shadow: 0 0 10px 0 $grey-dark;
    >div{
      top:50%;
      transform: translateY(-50%);
      position:relative;
      text-align: center;
      h2{
        font-size: 10vw;
        line-height: 140%;
        font-weight: normal;
        font-family: AmaticSC;
      }
      p{font-family: AmaticSC}
      .lost-image{
        @include iconify(url(../assets/new_item_tried_screen/bun-meh.png));
        height: 20vh;
        margin: 20px auto;
        width: 30vh;
      }
    }
  }
  .new-item-module-progress-container{
    position: fixed;
    height: 80px;
    bottom: 0;
    width: 100%;
    z-index: 1;
    .new-item-module-progress {
      width:90%;
      position: relative;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      >div{
        display: inline-block;
      }
      .progress-icon{
        width: 40px;
        height: 40px;
        vertical-align: bottom;
        &.locate{
          @include iconify(url(../assets/new_item_tried_screen/nav-place1.png));
        }
        &.pick{
          @include iconify(url(../assets/new_item_tried_screen/nav-item1.png));
          &.activated{
            @include iconify(url(../assets/new_item_tried_screen/nav-item2.png));
          }
        }
        &.like{
          @include iconify(url(../assets/new_item_tried_screen/nav-opinion1.png));
          &.activated{
            @include iconify(url(../assets/new_item_tried_screen/nav-opinion2.png));
          }
        }
      }
      .progress-line{
        background-image:url(../assets/new_item_tried_screen/nav-line1.png);
        &.activated{
          background-image:url(../assets/new_item_tried_screen/nav-line2.png);
        }
        background-repeat: repeat-x;

        width: calc(50% - 65px);
        height: 5px;
        background-size: 100%;
        margin-bottom: 6px;
        margin-left: -5px;
        margin-right: -5px;

      }
    }
  }
}