new-item-module {
  .search-bar-container {
    @include backgroundify(url(../../assets/new_item_tried_screen/img-city.png));
    width: 100%;
    height: 100px;
    .search-bar {
      text-align: center;
      top: 45%;
      transform: translateY(-50%);
      position: relative;

      .fa-search {
        position: absolute;
        line-height: 40px;
        margin-left: 15px;
        color: $grey-medium;
      }
      input {
        width: 70%;
        border: none;
        line-height: 40px;
        padding-left: 45px;
        padding-right: 20px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
  }
  .no-location {
    height: calc(100% - (#{$navbar-height} + 180px));
    box-shadow: 0 0 10px 0 $grey-dark;
    >div{
      top:50%;
      transform: translateY(-50%);
      position:relative;
      text-align: center;
      h2{
        font-size: 10vw;
        line-height: 140%;
        font-weight: normal;
      }
      .lost-image{
        @include iconify(url(../../assets/new_item_tried_screen/bun-meh.png));
        height: 20vh;
        margin: 20px auto;
        width: 30vh;
      }
    }
  }
  .new-item-module-progress-container{
//    position: fixed;
    height: 80px;
//    bottom: 0;
    width: 100%;
    z-index: 1;
    .new-item-module-progress {
      width:90%;
      position: relative;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      >div{
        display: inline-block;
      }
      .progress-icon{
        width: 40px;
        height: 40px;
        vertical-align: bottom;
        &.locate{
          @include iconify(url(../../assets/new_item_tried_screen/nav-place1.png));
        }
        &.pick{
          @include iconify(url(../../assets/new_item_tried_screen/nav-item1.png));
          &.activated{
            @include iconify(url(../../assets/new_item_tried_screen/nav-item2.png));
          }
        }
        &.like{
          @include iconify(url(../../assets/new_item_tried_screen/nav-opinion1.png));
          &.activated{
            @include iconify(url(../../assets/new_item_tried_screen/nav-opinion2.png));
          }
        }
      }
      .progress-line{
        background-image:url(../../assets/new_item_tried_screen/nav-line1.png);
        background-repeat: repeat-x;

        width: calc(50% - 65px);
        height: 5px;
        background-size: 100%;
        margin-bottom: 6px;

      }
    }
  }
}