nav-bar{
  position: fixed;
  z-index: 1;
}
.top-module{
  top: 0;
  left: 0;
  position:absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: $yellow-medium;
}
.module{
  top: $navbar-height;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: calc(100% - #{$navbar-height});
}
.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

