nav-bar{
  position: fixed;
  z-index: 1;
}
.module{
  top: $navbar-height;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: calc(100% - #{$navbar-height});
}
.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

